# fly.toml app configuration file generated for mix4native on 2023-07-26T08:45:26-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "mix4native"
primary_region = "ord"
kill_signal = "SIGTERM"
swap_size_mb = 512

[env]
  PHX_HOST = "mix4native.fly.dev"
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
  [http_service.concurrency]
    type = "connections"
    hard_limit = 1000
    soft_limit = 1000
